body{
    margin: 0px;
    padding: 0px;
    background-color: #333;
    color: #fff;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    outline: 1px solid red;
    width: 1120px;
    height: fit-content;
    margin: auto;
}

#header-contacts{
    outline:1px solid red;
    height: 60px;
    position: relative;
}

#number{
    outline:1px solid red;
    width: fit-content;
    height: inherit;
    margin: auto;
    display: flex;
    align-items: center;
}
#plus{
    color: rgb(196, 67, 138);
}
#zayavka{
    outline:1px solid red;
    width: fit-content;
    height: inherit;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
}
